{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}" />
{% include 'common/nav-main-page.html' %}

<style>
    #create-form-container{
        background-color: #fff6e5;
    }
    #nav-create-form-container{
        background-color: #c58500;
    }
    #images-container,
    #images-container div{
        display: flex;
    }
    #images-container{
        gap: 5%;
        margin-bottom: 0.6rem;
    }
    .img-labels{
        font-size: 1.3rem;
        font-weight: 450;
        margin-right: 0.4rem;
    }

  .img-upload{
      width: 106px;
      overflow: hidden;
      }
  input{
      color: grey !important;
  }
  textarea{
      color: grey !important;
  }
  .customized-btns{
      color: black;
      background-color: #edaa1e;
  }
</style>

<body>

<main class="create-room layout">
  <div class="container">
    <div id="create-form-container" class="layout__box">
      <div id="nav-create-form-container" class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'forum show all' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
{#              <title>arrow-left</title>#}
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Създаване на форум</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="{% url 'forum create' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

            <div class="form__group">
            <label for="room_topic">Тема</label>
            <input class="grey-color" required type="text" value="" name="topic" list="topic-list" />
            <datalist id="topic-list">
              <select id="room_topic">
                {% for topic in topics %}
                <option value="{{ topic.name }}">{{ topic.name }}</option>
                {% endfor %}
              </select>
            </datalist>
          </div>

          <div class="form__group grey-color">
            <label class="grey-color" for="room_name">Име</label>
              <div class="grey-color">{{form.name}}</div>

          </div>

        <div id="images-container">
           <div class="">
            <label class="img-labels" for="room_nam">основна снимка</label>
            {{form.main_image|add_class:'img-upload'}}
          </div>

          <div>
            <label class="img-labels" for="room_nam">странична снимка</label>
            {{form.side_image|add_class:'img-upload'}}
          </div>
        </div>



          <div class="form__group">
            <label for="room_description">Описание</label>
            {{form.description}}
          </div>

          <div class="form__action">
            <a class="btn customized-btns" href="#">Отказ</a>
              <button class="btn customized-btns" type="submit">Създай</button>
          </div>

        </form>
      </div>
    </div>
  </div>

    <script src="{% static 'js/script.js' %}"></script>

</main>

{% include 'common/js-footer-main-page.html' %}

</body>

